.homepageWrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mainTopicContent {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 5;
}

.topDivider {
  border-bottom: 3px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carouselWrapper {

}

.topicViewWrapper {
  height: 60vh;
  overflow: hidden;
}

.imageWrapper {
  height: 80vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.image {
  height: 100%;
  /* filter: blur(4px);
  -webkit-filter: blur(4px); */
}

.topicInfoWrapper {
  position: absolute;
  width: 55vw;
  height: 50vh;
  z-index: 10;
  top: 5vh;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.cardWrapper{
  height: 600px;
  overflow: auto;
  display: flex;
  justify-content: center;
  /* padding-top: 20px; */
}

.innerCardWrapper {
  /* width: 300px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: show;
}

/*  */

/*
.homepageWrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  border: 2px solid orange;
  overflow: auto;
} */

/* .imageWrapper {
  height: 70vh;
  width: 100vw;
  overflow: hidden;
} */


.nextButton {
  background: transparent;
  border: none;
    cursor: 'pointer',
}


.topicTitle {
  padding: 15px;
  padding-left: 40px;
  text-align: left;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(120, 120, 120, 0.9);
  border-radius: 4px 4px 0px 0px;
  margin-bottom: 5px;
  position: relative;
}

.topicTitleText {
  font-size: 50px;
  color: white;
  filter: blur(0px)
}

.topicFlexParent{
  display: flex;
  flex-direction: row;
}

.topicMetadata{
  width: 150px;
  height: 36vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(120, 120, 120, 0.9);
  margin-right: 5px;
  border-radius: 0px 0px 0px 4px;
}

.metricText{
  color: white;
}

.topicDomains{
  width: 150px;
  height: 36vh;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(120, 120, 120, 0.9);
  margin-right: 5px;
}

.topicDomainsText {
  color: white;
}

.topicDescription{
  flex: 1;
  height: 36vh;
  overflow: auto;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(120, 120, 120, 0.9);
  border-radius: 0px 0px 4px 0px;

}

.topicDescriptionText{
  text-align: left;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.paperGroupFlexWrapper {
  /* SELF POSITIONING */
  position: absolute;
  width: 100vw;
  height: 135vh;
  border: 5px solid red;
  z-index: 10;
  top: 65vh;

  /* FLEX BOX */
  justify-content: center;
}

.paperGroup {

}

.innerGroup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



/* WHITESPACE */

.whitespaceTitleWrapper {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.whitespaceTitleFlexWrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.whitespaceTitleIndex{
  margin: 0px;
  font-family: "Alegreya";
  font-size: 18px;
}

.whitespaceTitle {
  font-family: "Spartan";
  font-weight: 800 !important;
  font-size: 60px;
  color: #545454;
  margin-top: 0px;
}

.whitespaceTitleUnderscore {
  border-bottom: 5px solid #545454;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 15px;
  margin-bottom: 20px;
}

.whitespaceDescriptionWrapper {
  /* border: 5px solid black; */
  margin-left: 20vw;
  margin-right: 20vw;
  max-height: 100px;
  overflow: auto;
}

.whitespaceDescription {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.whitespaceMetadataRow {
  height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.whitespaceMetadataWrapper{
  margin: 60px;
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.whitespaceMetadataNumber{
  margin: unset;
  font-size: 35px;
  font-family: "Open Sans";
  font-weight: 800;
}

.whitespaceMetadataText{
  margin: 0px;
  font-family: "Open Sans";
}

#whitespacePaperCount{
  color: #A89267;
}

#whitespaceAnnotationCount{
  color: #D7BAA0;
}

#whitespaceScientistCount{
  color: #F0E0CD;
}

.navButtonInnerNext{
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-right: 0px;
}

.navButtonInnerNext{
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-left: 0px;
}


.nextWrapper{
  text-align: left;
}

.prevWrapper {
  text-align: right;
}

.nextText{
  font-size: 15px;
  font-family: "Alegreya";
  font-weight: bold;
}

.topicNavigationWrapper{
  text-align: left;
}

.topicNavigationText{
  font-size: 18px;
  font-family: "Alegreya";
  color: #BDBDBD;
  font-weight: 500;
}

.topicNavigationPrevText{
  text-align: right;
  font-size: 18px;
  font-family: "Alegreya";
  color: #BDBDBD;
  font-weight: 500;
}

.topicInfoNavigationWrapper{
  text-align: left;
}

.topicInfoNavigationPrevWrapper{
  text-align: right;
}

.topicInfoNavigationText{
  font-size: 14px;
  font-family: "Alegreya";
  color: #4F4F4F;
  font-weight: 300;
}



/* .navButton {
  background: black;
  cursor: pointer;
  position: absolute;
  zIndex: 2;
  top: calc(50%-15px);
} */


/*
.paperGroupWrapper{
  border: 5px solid yellow;
  width: 90vw;
  height: 135vh;
  margin: -.875em;
  width: 100%;
  height: inherit;
  overflow: auto;
}

.paperGroup{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
} */
/*
.paperGroupPositionManager {
  display: flex;
  margin: -.875em;
  flex-wrap: wrap;
  width: 100%;
  height: inherit;
  justify-content: center;
  align-items: flex-start;
} */
