.scrollComponent {
  overflow-y: auto;
  width: 100%;
  height: 325px;
}

.flexWrapper {
  display: flex;
  flex-direction: row;
}

.titleWrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
