
.main {
    padding: 5px 0 5px 5px;
    min-width: 225px;
    background-color: white;
    border: 1px solid black;
}

.gray {
    background-color: grey;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0;
}

.author {
    font-weight: bold;
}

.date {}

.content {
    margin: 2px 0;
}

.scoreBlockContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
}

.scoreBlock {
    border-top: 1px solid black;
    margin: 1px 0;
}

.scoreBlockHeaderOpen {
    background-color: lightgray;
}

.scoreBlockContent {
    margin-left: 10px;
}

.childrenContainer {
    margin-top: 5px;
    margin-left: 10px;
}
