

.annotationCard {
  width: 350px;
  /* border: 1px solid black; */
  position: relative;
  z-index: 5;
}


/* HEADER CSS */
.cardHeader {
  height: 30px;
  border: 1px solid #E2E5ED;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
}

.headerIcon {
  border-right: 3px solid #E2E5ED;
  border-bottom: 1px solid #E2E5ED;
  background-color: rgb(245, 245, 245);
  width: 30px;
  height: 105%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerIconCircle {
  border-radius: 100%;
  width: 6px;
  height: 6px;
  background-color: black;
}

.headerTextWrapper {
  display: flex;
  flex-direction: row;
}

.flexComponent {
  flex: 1
}

.authorNameWrapper {
  margin-right: 10px;
  padding-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorName {
  font-family: "Roboto";
  font-weight: bold;
  color: #959AA4;
}

.createdTimeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createdTime {
  font-family: "Roboto";
  font-weight: normal;
  color: #959AA4;
}

.headerButton {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.headerButtonText {
  color: #959AA4
}

.cardBodyAndScores {
  border: 1px solid #E2E5ED;
  border-radius: 2px;
}

/* BODY CSS */
.annotationCardBody{
 display: flex;
 flex-direction: row;
 border-bottom: 1px solid #E2E5ED;
}

.bodyIndent {
  background-color: lightgray;
  width: 30px;
  min-width: 30px;
}

.bodyTextWrapper{
  padding: 5px;
  min-width: 0px;
  flex: 1;
}

.bodyText {
  font-size: 14px;
  font-family: "Roboto";
}

/* SCORE CSS */

.scoreIndent {
  background-color: rgb(245, 245, 245);
  width: 30px;
  display: flex;
  flex-direction: column;
  border-right: 3px solid #E2E5ED;

}

.responseText {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  font-family: "Roboto";
}

/* BUTTONS */

.buttonRow{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.buttonFlex{
  flex: 1;
}

.buttonWrapper{

}

.buttonContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonText {
  font-family: "Roboto";
  font-weight: bold;
}

/* ERROR AND AUTH MANAGEMENT */

.scoreInnerWarningBox {
  border: 2px solid rgb(213, 163, 165);
  margin-bottom: 3px;
  padding: 5px;
  border-radius: 4px;
  background-color: rgb(254, 243, 244);
}

.scoreInnerWarningText{
  color: rgb(122, 29, 32);
  font-family: "Roboto";
  /* font-weight: bold; */
  font-size: 12px;
}

.deleteModalContent {
  font-family: "Roboto";
  font-size: 16px;
}

.errorDivider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.logInErrorWrapper {
  text-align: center;
  padding: 5px;
}

.logInErrorText {
  font-family: "Roboto";
  font-size: 12px;
  color: rgba(150, 150, 150, 0.5);
}

.authText {
  color: rgba(215, 186, 160, 0.5);
  font-weight: 700;
  font-family: "Roboto";
}

.authText:hover {
  cursor: pointer;
}

/* OLD COMPONENT CSS */

.header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.headerSpacer {
    flex: 1;
}

.scoreBlockHeader {
    display: flex;
    flex-direction: row;
    font-style: italic;
}

.linkish {
    color: blue;
    text-decoration: underline;
}

.childrenContainer {
    margin-left: 20px;
}
