.navbarWrapper {
  height: 0;
  position: relative;
  right: 100px;
  width: 100vw;
  bottom: 100px;
}

.topicHeaderWrapper {
  width: 100vw;
  height: 300px;
  position: relative;
  right: 100px;
  bottom: 100px;
  padding: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1)
}

.topicHeader {
  padding-left: 20px;
}

.topicHeaderText {
  font-size: 80px;
  font-family: "Roboto";
  font-weight: 800px;
  color: rgba(255, 255, 255, 0.8);
}

.paperCardsWrapper {
  position: relative;
  bottom: 70px;
}

.cardGroupWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: inherit;
}

.cardGroup {
  display: flex;
  margin: -.875em;
  flex-wrap: wrap;
  width: 90%;
}

.descriptionBox {
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  height: fit-content;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.topicDescription {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 22px;
}

.descriptionBoxUnderline {
  border-bottom: 3px solid rgba(0,0,0,0.3);
  width: 30%;
}

.underlineWrapper {
  display: flex;
  justify-content: center;
}

.toolBar {
  display: flex;
  margin-bottom: 20px;
  margin-top: 30px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.toolBarFlexFill {
  flex: 1
}
