
.coverContainer {
    width: 100%;
    height: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    color: white;
    overflow: hidden;
    display: flex;
}

.paperWrapper{
  flex: 1 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.backButtonWrapper {
  height: 80%;
  padding-top: 10px;
  padding-left: 10px;
}

.paperContentWrapper{
  height: 80%;
  width: 80%;
  margin-right: 5%;
  padding-left: 10px;
  padding-top: 30px;
}

.titleLabel{
  color: rgb(148, 105, 75);
  text-align: right;
  margin: 0px;
  font-size: 15px;
}

.paperTitleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 6px;
}

.paperTitle{
  color: black;
  font-size: 30px;
  line-height: 40px;
}

.metadataWrapper{
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.metadata{
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 3px;
}

.metadataSmall{
  color: #828282;
  font-size: 12px;
  margin: 2px;
}

.annotationWrapper{
  flex: 0 35%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 330px;
  padding-top: 15px;
  padding-left: 20px;
  background-color: #FAFAFA;
  background-clip: content-box;

}

.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.main::-webkit-scrollbar {
  display: none;
}

.divider {
  border-bottom: 2px solid rgba(148, 105, 75, 0.6);
  margin-bottom: 40px;
  margin-left: 75px;
  margin-right: 75px;
}
