
.main {
  display: flex;
}

.paperWrapper {
  flex: 1;
}

.parent {
  display: flex;
  flex: 1;
  margin: 40px;
  position: relative;
  width: 110%;
  border: rgb(129, 128, 128, 0.5) 10px double;
  top: 15%;
  left: 5%;
}

.titleMetadataContainer {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.titleContainer {
  flex: 1;
  margin: 20px;
}

.title {
  font-size: 40px;
  line-height: 35px;
  margin: 20px 5px;
  mix-blend-mode: screen;
}

.metadataContainer {
  flex: 0.4;
  border-top: 2px solid rgb(129, 128, 128, 0.5);
  align-self: center;
}

.metaData {
  display: flex;
  justify-content: space-around;

}

.iconText {
  flex: 1;
  font-size: 14px;
  line-height: 12px;
  font-weight: bold;
  margin-top: 20px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 15px;
}

.abstract {
  flex: 1;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 3px;
  max-height: 400px;
  overflow: auto;
  border-left: 2px solid rgb(129, 128, 128, 0.5);
}

.abstractText {
  font-weight: bold;
  line-height: 14px;
  text-align: left;
}

.annotationWrapper {
  flex: 1;
}

/*what are these? why doesn't anything change when i remove them? is there a global namespace clash here?*/

/*.icon {*/
/*  align-items: center;*/
/*}*/

/*.react-icons {*/
/*  vertical-align: middle;*/
/*}*/
