
.Cover {
  display: flex;
}

.Cover-paper-wrapper {
  flex: 1;
}

.Cover-parent {
  display: flex;
  flex: 1;
  margin: 40px;
  position: relative;
  width: 110%;
  border: rgb(129, 128, 128, 0.5) 10px double;
  top: 15%;
  left: 5%;
}

.Cover-title-metadata-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.Cover-title-container {
  flex: 1;
  margin: 20px;
}

.Cover-title {
  font-size: 40px;
  line-height: 35px;
  margin: 20px 5px;
  mix-blend-mode: screen;
}

.Cover-metadata-container {
  flex: 0.4;
  border-top: 2px solid rgb(129, 128, 128, 0.5);
  align-self: center;
}

.Cover-metadata {
  display: flex;
  justify-content: space-around;

}

.Cover-icon-text{
  flex: 1;
  font-size: 14px;
  line-height: 12px;
  font-weight: bold;
  margin-top: 20px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 15px;
}

.Cover-abstract {
  flex: 1;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 3px;
  max-height: 400px;
  overflow: auto;
  border-left: 2px solid rgb(129, 128, 128, 0.5);
}

.Cover-abstract-text {
  font-weight: bold;
  line-height: 14px;
  text-align: left;
}

.Cover-annotation-wrapper {
  flex: 1;
}


.icon{
  align-items: center;
}

.react-icons{
  vertical-align: middle;
}
