.cardBox {
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  color: white;
  height: 350px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-image: url('http://127.0.0.1:8000/media/media/davinci.jpg')
}

.titleContainer {
  border: 1px solid black;
  height: fit-content;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: rgba(10, 10, 10, 0.5);
  backdrop-filter: blur(5px);
}
