.mainContainer {
    display: flex;
    align-items: stretch;
    border: rgb(129, 128, 128, 0.5) 5px solid;
    border-top: none;
    overflow: hidden;
}

.paperContainer {
    flex: 1 0;
    line-height: 1.5;
    font-family: "Computer Modern", sans-serif;
}

.tooltipContainer {
    flex: 0 35%;
    position: relative;
    background-clip: content-box;
}

.tooltipVertical {
    position: absolute;
    left: 23px; /* i eyeballed this */
    height: 100%;
    width: 100%;
    border-left: 4px solid lightgrey;
    background-color: #F8F8F8;
}

.annotationSidebarContainer{
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 20px;
}
