.mainContainer {
    display: flex;
    align-items: stretch;
    border-top: none;
}

.paperContainer {
    flex: 1 0;
    padding: 40px;
    padding-top: 0px;
    line-height: 1.6;
    font-family: "Computer Modern", sans-serif;
}

/*.ViewStateManager-Paper-container h1 {*/
/*  font-weight: bold;*/
/*  color: #4F4F4F;*/
/*}*/

/*.ViewStateManager-Paper-container p {*/
/*  line-height: 1.5;*/
/*  !* color: #222222; *!*/
/*  color: orange;*/
/*  font-family: "Computer Modern", sans-serif;*/
/*    padding: 8px 20px 0;*/
/*}*/

.tooltipContainer {
    flex: 0 35%;
    position: relative;
    background-clip: content-box;
}

.tooltipVertical {
    position: absolute;
    left: 19px;
    height: 100%;
    width: 1px;
    border-left: 4px dashed darkgray;
}

.annotationSidebarContainer{
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.colorBox{
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
  position: absolute;
  background-clip: content-box;
  padding-left: 20px;
}
