#topicCard{
  background-size: cover;
}

.cardGroup {
  display: flex;
  margin: -.875em -.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  /* box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 #21ba45, 0 1px 3px 0 #d4d4d5; */
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  /* transition: box-shadow .1s ease,transform .1s ease; */
}

.card:hover {
  /* box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 #21ba45, 0 1px 3px 0 #d4d4d5; */
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  min-height: 0;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  /* transition: box-shadow .1s ease,transform .1s ease; */
}


.cardHeaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;

}

.cardHeaderWrapper:hover {
  top: -35%;
}



.cardHeader {
  font-size: 45px;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Roboto";
  pointer-events: none;
}
