.skepsi {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    mix-blend-mode: luminosity;
}

#iconWrapper {
    background-color: rgba(34, 34, 34, 0.8);
}

#sidebarContainer {
    overflow: hidden;
    z-index: -100;
    border: none !important;
    position: absolute;
    width: 400px;
    height: 100vh;
    top: 60px;
    right: 0;
    margin-top: 0;
    pointer-events: none;
}


.sidebarPusher {
    border: none !important;
    overflow: hidden;
    pointer-events: none;
}

#sidebar {
    position: relative;
    height: inherit;
    background-color: white;
    backdrop-filter: blur(5px);
    z-index: 10000;
}

.userButton {
    width: 115px;
    height: 36px;
    background-color: rgba(30, 30, 30, 0.7) !important;
    border: 1px solid darkgray !important;
    color: white !important;
}