.tableWrapper {
  max-height: 450px;
  overflow-y: auto;
  width: 25vw;
}

.tableCard {
  max-width: 300px;
  max-height: 300px;
  max-width: 600px;
  max-height: 600px;
  border: 2px black solid;
  color: orange;
  margin: 20px;
  display: flex;
}


.imageWrapper {
  flex: 1;
  border: 2px solid lightgray;

}

.tableImage {
  max-width: 100%;
  max-height: 100%;
}

.titleWrapper {
  display: flex;
  flex-direction: row;
}

.titleInnerWrapper {
  display: flex;
  align-items: flex-start;
}

.titleLabelWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.tableTitle {
  color: #222222;
}

.tableCaption {
  color: gray;
}

.exitButton {
  opacity: 1;
  position: absolute;
  z-index: 1000;
  left: 93%;
}

.modalImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
