
.main {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.paperWrapper {
  flex: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 60px;
  max-height: 90%;
  width: 90%;
  height: 80%;
  border: rgb(129, 128, 128, 0.5) 10px double;
  background-color: rgba(10, 10, 10, 0.5);
  overflow: hidden;
}

.titleMetadataContainer {
  flex: 1;
  /* display: flex;
  flex-direction: column; */
}

.titleContainer {
  margin: 20px;
}

.title {
  font-size: 36px;
  line-height: 35px;
  margin: 20px 5px;
  mix-blend-mode: screen;
  opacity: 1;
}

.metadataContainer {
  /* flex: 0.3; */
  margin-bottom: 5px;
  border-top: 2px solid rgb(129, 128, 128, 0.5);
  align-self: center;
}

.metaData {
  display: flex;
  justify-content: space-around;

}

.iconText {
  flex: 1;
  font-size: 14px;
  line-height: 12px;
  font-weight: bold;
  margin-top: 20px;
  text-align: justify;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 15px;
}


.abstractWrapper {
  height: 100%;
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;
  margin-bottom: 10px;
}

.abstractToolboxBar {
  display: flex;
  flex-direction: row;
}

.buttonWrapper {
  margin-right: 10px;
  margin-bottom: 5px;
}

.buttonWrapper:hover {
  color: gray;
}

.abstract {
  /* margin-top: 10px; */
  margin-left: 10px;
  margin-right: 3px;
  border-left: 2px solid rgb(129, 128, 128, 0.5);
}

.abstractText {
  font-weight: bold;
  line-height: 18px;
  font-size: 14px;
  text-align: left;
  padding-left: 8px;
}


.annotationWrapper {
  flex: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexBox {
  flex: 1
}


.modalContentText {
  font-weight: medium;
  line-height: 18px;
  font-size: 14px;
  text-align: left;
  padding-left: 8px;
}
/*what are these? why doesn't anything change when i remove them? is there a global namespace clash here?*/

/*.icon {*/
/*  align-items: center;*/
/*}*/

/*.react-icons {*/
/*  vertical-align: middle;*/
/*}*/
