.whitespaceNavbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid gray;
  margin-bottom: 50px;
}

/* LEFT NAVBAR CSS */

.leftNavbar {
  height: 100%;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
}

.skepsiWrapper {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
}

.skepsiText {
  font-family: "Spartan";
  font-weight: 800;
  color: rgba(84, 84, 84, 0.8);
}

.featuredAnnotationsWrapper{
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarFlex {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.popupText {
  font-family: "Roboto";
  font-weight: normal;
}


/* RIGHT NAVBAR CSS */
.rightNavbar {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.authButton{
  width: 90px;
  height: 40px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  border: 1px solid darkgray;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(34, 36, 38, 0.35);
  color: rgba(0, 0, 0, 0.8);
}

/* #pitchButton {
  background-color: #A89267;
  border: 3px solid rgba(192, 176, 149, 1);
}

#signupButton {
  background-color: #D7BAA0;
  border: 3px solid rgba(225, 204, 188, 1);
}

#loginButton {
  background-color: #F0E0CD;
  border: 3px solid rgba(242, 230, 219, 1);
}

#profileButton {
  background-color: #D7BAA0;
  border: 3px solid rgba(225, 204, 188, 1);
}

#logoutButton {
  background-color: #F0E0CD;
  border: 3px solid rgba(242, 230, 219, 1);
} */

/* #pitchButton {
  background-color: transparent;
  border: 3px solid #A89267;
}

#signupButton {
  background-color: transparent;
  border: 3px solid #D7BAA0;
}

#loginButton {
  background-color: transparent;
  border: 3px solid #F0E0CD;
}

#profileButton {
  background-color: transparent;
  border: 3px solid #D7BAA0;
}

#logoutButton {
  background-color: transparent;
  border: 3px solid #F0E0CD;
} */

.authButtonText {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1rem;
  color: rgba(84, 84, 84, 0.8);

}
