#navigationMenu {
  position: fixed;
  border: 0px solid black;
  width: 100%;
  top: 0;
  left: 0;
  zIndex: 10000;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
}


.skepsi {
  color: white;
  font-family: "Roboto"
}

#iconWrapper {
  background-color: rgba(34, 34, 34, 1)
}

#sidebarContainer {
  z-index: -100;
  border: none !important;
  position: absolute;
  width: 400px;
  height: 400px;
  top: 60px;
  right: 0;
  margin-top: 0;
  border: none;
  background-color: transparent
}



.sidebarPusher {
  border: none !important;
}

#sidebar {
  background-color: white;
}
