
.main {
    position: relative;
    /* top/bottom margin won't do anything because vertical spacing is determined by the windowing component */
    margin: 0 20px;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
}

.anchorContainer {
    flex: 0 18px;
    position: relative;
}

.anchor {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 5px;

    position: absolute;
    top: 8px;
}

.ContentBlockContainer {
    flex: 1;
}

.dotTarget {
    width: 20px;
    height: 100%;

    z-index: 2; /* TODO(Leo): get this to show on page */
    position: absolute;
    top: 0;
    right: -49px; /* I eyeballed this. */

    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.dot {
    background-color: black;
}

.dotSmall {
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.dotMed {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.dotBig {
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
