
.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

.coverContainer {
    width: 100%;
    height: 80%;
    border-bottom: rgb(129, 128, 128, 0.5) 5px solid;
    background-image: url("http://127.0.0.1:8000/static/covers/Roma.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    color: white;
    overflow: hidden;
}

.mainContainer {
    display: flex;
    align-items: stretch;
    border: rgb(129, 128, 128, 0.5) 5px solid;
    border-top: none;
}

.paperContainer {
    flex: 1 0;
    padding: 0 20px;
    padding-right: 20px;
    line-height: 1.5;
    font-family: "Computer Modern";
}

.ViewStateManager-Paper-container h1 {
  font-weight: bold;
  color: #4F4F4F;
}

.ViewStateManager-Paper-container p {
  line-height: 1.5;
  /* color: #222222; */
  color: orange;
  font-family: "Computer Modern";
    padding: 8px 20px 0;
}

.tooltipContainer {
    flex: 0 35%;
    position: relative;
}

.tooltipVertical {
    position: absolute;
    left: 19px;
    height: 100%;
    width: 1px;
    border-left: 1px dashed black;
}

.annotationSidebarContainer{
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 20px;
}
