.barChartWrapper {
  height: 279px;
  width: 360px;
  border: rgb(129, 128, 128, 0.5) 10px double;
  background-color: rgba(0, 0, 0, 0.7);
}

.horizontalFlex {
  flex: 1
}

.metadata {
  background-color: rgba(30, 30, 30) !important;
  border: 1px solid darkgray !important;
  height: 10px;
  width: 10px;
}

.metadataText {
  margin: 1px;
  color: white;
  font-family: "Roboto"
}

.wrapperBox {
  margin: 15px;
  padding: 5px;
}

.barChartWrapperLoading {
  height: 279px;
  width: 360px;
  border: rgb(129, 128, 128, 0.5) 10px double;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
