.metadataWrapper {
  height: fit-content;
  width: 200px;
  border: rgb(129, 128, 128, 0.5) 10px double;
  background-color: rgba(0, 0, 0, 0.7);
  /* position: relative; */
  /* left: 30%; */
  /* margin-top: 55%; */
}

.metadataTextWrapper{
  border-left: 2px solid rgb(129, 128, 128, 0.5);
  padding: 4px;
  margin: 5px;
}

.metadataText {
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}
